body, .root {
  height: 100vh;
  width: 100%;
}

.icon-user {
  margin-left: 5px;
  position: absolute;
  right: 40px;
  top: 45px;
}

.icon-password {
  bottom: 85px;
  margin-left: 5px;
  position: absolute;
  right: 40px;
}

.image-cook {
  margin-bottom: 20px;
  width: 180px;
}

.link-card {
  display: flex;
  justify-content: center;
  margin: 15px;
  text-decoration: none;
  width: 35%;
}

.favorite-btn {
  background-color: transparent;
  border: none;
  transition: all 0.2s ease;
}

.favorite-btn:active {
  transform: scale(1.2);
}

.BtnStart {
  background-color: rgb(255, 34, 0);
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  margin-bottom: 15px;
  position: fixed;
  right: 33vw;
  text-shadow: 1px 1px 3px #688d6e;
  text-transform: uppercase;
}

.fillHeart {
  color: #f20;
  font-size: 20px;
}

.share-btn {
  background-color: transparent;
  border: none;
  margin-right: 85px;
  padding: 0;
  transition: all 0.2s ease;
}

.share-btn:active {
  transform: scale(1.2);
}

.div-explore {
  height: 100vh;
  width: 100%;
}

.food-icon {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  position: initial;
}

.container-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
}

.instructions-div {
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.recipe-details-img {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.container-button {
  background-color: rgb(235, 229, 229);
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100vw;
}

.title-recipes {
  background-color: rgb(235, 229, 229);
  display: flex;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 5px white;
  text-transform: uppercase;
}

